[2016-03-17 00:36] jakirkham opened #2 "Adding Window support"
Would be nice to get a Windows package supported here.

[2016-05-26 23:31] jakirkham commented on #2
To get this to work, someone will need to do one of the following

1. Make a custom CMake file.
2. Build using MinGW-w64 toolchain
3. Repackage an existing copy of FFTW from MSYS2.

Right now, I think one of these last two looks like the most reasonable way to go. It is just a question of what we decide for conda-forge as a whole. So, this will be a topic for our next meeting.

[2016-08-12 16:28] grlee77 opened #10 "SIMD flags"
I was just reading the 3.3.5 [release notes](http://www.fftw.org/release-notes.html)

I see that AVX2 support has been added, but I don't know that we should enable it on conda-forge, as the release notes state:

[code]
We are currently in line with this recommendation, but thought I would open an issue here for future reference and in case others have thoughts/comments

[2016-08-12 16:34] jakirkham commented on #10
Seems many of these new options being added are untested by the developers due to absence of hardware support. That is a little worrisome. If we enable them, it is unclear what we will get or how stable it will be.

[2016-08-23 04:21] shadowwalkersb commented on #2
Any updates on this? Any way I can help with any of the three proposals above?

[2016-08-23 04:23] jakirkham commented on #2
Honestly PRs welcome. Sorry, but I don't have time to further the cause myself.

[2016-08-23 04:25] shadowwalkersb commented on #2
I am looking into MinGW, but also can try CMake way, too.

[2016-08-23 06:46] shadowwalkersb commented on #2
Is MinGW supported as an installer? I am a bit confused seeing all the discussions on MSYS2. What is the recommended way of building for Windows?

[2016-08-29 17:47] jakirkham commented on #2
Do you have any thoughts on this, @mingwandroid? Would it be worth considering reusing the FFTW package from MSYS2 or should we be building this from scratch? If the latter, would it be possible to use `make` to drive the process as was done with `icu` or would it be worthwhile to consider writing a CMake file to make this happen? Sorry if these are stupid questions. Just trying to muse over the p

[2016-08-29 17:53] jakirkham commented on #2
Also, it would be great to hear from @patricksnape and/or @ukoethe who have tried the CMake approach. Maybe we could investigate trying something similar here and get an idea of how challenging that might be to do.

[2016-08-29 17:56] shadowwalkersb commented on #2
I have submitted a PR for a recipe that downloads pre-built binaries, #11 , but it is not working. conda doesn't seem to package all copied .lib and .dll files. Would be nice to get some feedback on the PR to see if that's something to pursue or complete waste of time.

[2016-08-30 08:41] patricksnape commented on #2
As far as I can tell the fftw build is pretty complicated. However, there does appear to be some [Visual Studio Solution Files](ftp://ftp.fftw.org/pub/fftw/fftw-3.3-libs-visual-studio-2010.zip) which we may be able to use and use the `devenv.exe` to upgrade the solution file (`devenv.exe FreeImage.2008.sln /Upgrade`). I think that @ukoethe is probably the best [person to ask](https://github.com/uk

[2016-08-30 15:43] shadowwalkersb commented on #2
Out of the [Visual Studio Solutions](http://www.fftw.org/install/windows.html) available there only `fftw-3.2.2-vs2008.zip` is **VC9** which is needed by conda-forge, right? Unfortunately, the fftw source is **version 3.2**. When I tried to run the solution with **v3.3**, it couldn't find some of the source files. All the other **fftw-3.3** solutions are for higher Visual Studio versions. So, `dev

[2016-08-30 18:02] shadowwalkersb commented on #2
Maybe, it is possible to update VC9 sln with the `fftw-3.3` source? If so, where should the solution be hosted? Part of the recipe, maybe?

[2016-08-31 00:58] jakirkham commented on #2
There is a [tool]( https://sourceforge.net/projects/vspc/ ) for updating really old solutions, which may be of some help.

[2016-08-31 01:01] jakirkham commented on #2
Putting the solutions in the recipe is fine with me.

[2016-08-31 01:02] jakirkham commented on #2
Agreed @patricksnape. Trying to get some clarification on the licensing of that recipe. See discussion in commit ( https://github.com/ilastik/ilastik-build-conda/commit/466f2b3df61df652a596b0972d800010a2aca80a ).

[2016-09-06 16:45] ukoethe commented on #2
Sorry for the late response, I was offline for holidays.

Regarding the Windows build of FFTW 3.3: I ended up writing my own cmake scripts -- this turned out to be faster and safer than alternative workarounds, see https://github.com/ilastik/ilastik-build-conda/tree/toolset-config/fftw/cmake. (I might try to contribute this to the FFTW project, but currently have no time to prepare a PR.)

[2016-09-06 17:02] shadowwalkersb commented on #2
There is already a PR, although broken. Please, see the [conversation](https://github.com/conda-forge/fftw-feedstock/pull/13#issuecomment-244286074). Would you mind if we borrowed your [CMakeLists](https://github.com/ilastik/ilastik-build-conda/blob/toolset-config/fftw/cmake/CMakeLists.txt) and go from there?

[2016-09-06 17:08] ukoethe commented on #2
Not at all, go ahead. Note that you also need [config.h](https://github.com/ilastik/ilastik-build-conda/blob/toolset-config/fftw/cmake/config.h) (I hard-wired it for my purposes. Ideally, it should be generated by cmake.)

[2016-09-06 17:11] shadowwalkersb commented on #2
Thanks, I'll see what I can do.

[2016-09-06 17:14] jakirkham commented on #2
Could you please [clarify]( https://github.com/ilastik/ilastik-build-conda/commit/466f2b3df61df652a596b0972d800010a2aca80a ) what is going on with the license of that file, @ukoethe? I'd really strongly prefer not to have GPL'd files making their way into conda-forge if it can be avoided. It seems like the license was only meant for `ilastik`, but it seems to be in the top level directory.

[2016-09-06 17:23] ukoethe commented on #2
I'll happily put it onto the public domain, if you wish.

[2016-09-06 17:26] jakirkham commented on #2
SGTM. Thanks @ukoethe.

[2016-10-18 21:34] kynan opened #16 "Add Fortran support"
Could fftw be configured without Fortran support or would this better be a separate feedstock?

[2016-10-24 19:50] shadowwalkersb commented on #2
There is no easy way of automating generation of `config.h` using CMake on Windows. I played with a python script that replaces `#undef` s with `#cmakedefine`, then had cmake to check for some system headers and sizes of types. But, this is basically re-implementing `autotools` (I guess ?). The only practical solution to build from source on Windows, at least what I can see, is to have `config.h`

[2016-10-26 08:57] ukoethe commented on #2
I think `#cmakedefine` was specifically designed to make the transition from autotools easy. Most checks provided by autotools have a corresponding pre-defined check in cmake, so the transition is mostly a simple syntax translation. If you come up with a proper cmake-based build, hopefully the FFTW authors will accept a pull request -- this would be the cleanest solution.

OTOH, since FFTW is a C

[2016-10-26 15:14] shadowwalkersb commented on #2
Can we make use of `configure` on Windows somehow? Maybe, in cygwin environment or similar. This way most of the config.h will be populated. Especially, the system related macros. Then, we can use CMake to set things like ENABLE_*.

A PR upstream looks demanding. Even, `config.h.in` is automatically generated. Personally, I wouldn't want to write autotools scripts. Maybe, preparing a `config.h.in`

[2016-10-26 15:20] shadowwalkersb commented on #2
But then, if we use `configure`, why not go all the way through with `make` and `make install` afterwards, but switch to CMake in the middle? No point in doing that, I guess?

[2016-10-26 15:40] shadowwalkersb commented on #2
Raised upstream ( https://github.com/FFTW/fftw3/issues/75 ).

[2016-10-26 16:20] mingwandroid commented on #2
@shadowwalkersb: You can use `configure` on Windows using `conda-build` without resorting to installing `Cygwin` which would pick settings for a POSIX-like environment anyway, unless you were to also install mingw-w64 cross toolchains and then fix `fftw` to configure for cross compilation where necessary (it's likely ok though).

If you want a `config.h`, then you can generate one from a build of

[2016-10-26 17:24] shadowwalkersb commented on #2
Thanks for the detailed write-up, @mingwandroid . I've been using the pre-built dlls on my project. PR ( https://github.com/conda-forge/fftw-feedstock/pull/11 ) does exactly (?) what you do on your fftw-feedstock. But the effort here is to build from source on conda-forge, if possible. I am starting to question if it's worth jumping through all these hoops, though. 😩

[2016-10-26 17:26] mingwandroid commented on #2
PR #11 does nothing at all like what mine does. I build from source.

[2016-10-26 17:33] mingwandroid commented on #2
@jakirkham How do I enable AppVeyor for my feedstock?

[2016-10-26 18:04] shadowwalkersb commented on #2
@mingwandroid Sorry, my mistake. As I said, 😫 .

[2016-10-26 20:23] jschueller commented on #2
@mingwandroid enable win in your meta.yaml then rerender

[2016-10-26 22:13] shadowwalkersb commented on #2
Got a response from upstream (FFTW/fftw3#75) and posted what I had in mind. Please, chime in to make sure we get this right.

[2016-11-03 13:37] hadim commented on #2
With #11 we have a quick and easy way to get the ffwt package for Windows while with #17 we seem not so far to get a Windows build compiled on AppVeyor.

Could we just use #11 at the moment and then try to get #17 done ?

I don't see why not.

[2016-11-30 17:34] bmorris3 commented on #2
I second @hadim – a windows build would be very useful.

[2016-12-09 17:17] jakirkham commented on #2
It would be great for sure. However, there are 2 or 3 different proposals circulating in various states. It would be nice if someone with time and interest wrote up an unbiased comparison of their merits.

[2016-12-17 18:10] kynan commented on #16
@conda-forge/fftw Any thoughts on this?

[2016-12-17 20:33] jschueller commented on #16
not easy on win32

[2016-12-18 14:46] kynan commented on #16
fftw is not built for win32 according to `meta.yaml`. Are you planning on adding this?

[2016-12-18 16:21] jakirkham commented on #16
There is discussion about adding Windows support, yes. However I disagree that this blocks adding Fortran support. Just because we add Fortran support for Unix OSes doesn't mean we need to extend that support to Windows. HDF5 is built with Fortran support. It is also built on Windows. However it doesn't support Fortran on Windows. IMHO it is ok if a similar situation occurs here.

If you are inter

[2017-01-18 23:20] shadowwalkersb commented on #2
fftw folks seem to be thrilled(!) about the cmake-based builds. See https://github.com/FFTW/fftw3/pull/80#issuecomment-272743478. If anyone wants to weigh in the conversation, please chime in.

[2017-01-18 23:33] shadowwalkersb commented on #2
This may not be an ideal write up, nor unbiased, but FWICT the proposals are:

1. Use pre-built binaries, #11 .
2. Use mingw, #17 .
3. Build from source.

Number 2 is broken and needs to be fixed, number 3 can't move forward without cmake support or something very hacky and doesn't seem to be happening any time soon. Number 1 may not be ideal, but at least works.

[2017-01-25 22:36] rpep opened #20 "OpenMP support"
Is there a way to install through Conda for a build with OpenMP support? I'm using a project that needs libfftw3_omp.

[2017-01-26 06:32] jakirkham commented on #20
It is possible, but does not currently exist. Currently we do support pthreads though.

To support OpenMP, we would probably want to either make that a different package or maybe a feature that one could enable for this package. Personally I'd lean towards a different package because feature support for `conda` is weak and the change to the build seems pretty significant. I say all this for two re

[2017-01-26 09:03] ryanpepper commented on #20
Hi again,

Right, thanks. Thought I was going nuts trying to find it!

It's not the case that you can only build with one or the other - the core functionality is in libfftw3, and the parallel implementations are found in libfftw3_threads and libfftw3_omp. An application has to link libfftw3 and *either* libfftw3_threads or libfftw3_omp however.

See the following below from [the docs of FFTW](htt

[2017-04-16 20:11] danielkaneider commented on #2
Whats the status of this? Current 3.3.6 release doesn't seem to be supported on windows any more. There are neither precompiled dlls, nor any working VC project file. CMake would be a good way to go, since it brings windows and unix distribution on the same level.

@shadowwalkersb CMake supports some kind of `configure` using `configure_file`

[2017-05-16 15:35] rmcgibbo commented on #2
It seems like https://github.com/Microsoft/vcpkg/tree/master/ports/fftw3 could be of some utility.

[2017-05-16 17:33] grlee77 commented on #2
Thanks @rmcgibbo.  I was not aware of that Microsoft repository.  It looks like the `vcpkg` repository is MIT licensed too, so no problems there.

I think it is worth trying this approach in a PR and seeing how it goes.  I can try that unless you were already planning to work on it?

[2017-05-16 19:38] grlee77 commented on #2
I made an initial test of the feasibility of the CMAKE approach in #25.  I cancelled the non-Windows CI and ran only a single case on Appveyor.  The build completes, but there are still a few issues to resolve.  Do others think it is worth pursuing this approach further?

[2017-05-16 19:50] mingwandroid commented on #2
The msys2 channel has an fftw package now. It works for all visual studio runtimes. I'll make sure it's on defaults soon.

[2017-05-17 08:10] ras0219-msft commented on #2
@grlee77 If you go this route, we'd be happy to take changes back upstream into Vcpkg to try to keep these two (the conda feedstock and the vcpkg port) somewhat synchronized. Hopefully that way we can share the maintenance burden of the CMake script whenever FFTW updates.

[2017-05-17 15:23] mingwandroid commented on #2
`conda install m2w64-fftw` if you want what we'll use on defaults (I don't believe that any CMake based-build will work on Python 2.7 since `fftw` uses C99) so in this case compiling with mingw-w64 is the best choice.

[2017-05-17 18:30] grlee77 commented on #2
I had seen the WIP/PR for an msys2 build here, but wasn't aware of the completed package in the `msys2` channel.  Is there an advantage to continue to pursue a MSVC/CMake build as opposed to an msys2 one?

One other inconsistency between the MSVC/CMake build and the existing `conda-forge` packages is the use of OpenMP rather than POSIX threads, resulting in different library names (`fftw_omp.dll`,

[2017-05-17 18:40] grlee77 commented on #2
According to the build logs [here](https://ci.appveyor.com/project/conda-forge/fftw-feedstock/build/1.0.21), including the `msinttypes` package seems to have allowed the build to complete even for Python 2.7.  I haven't looked at the internals, but I guess this means that FFTW must not be using C99 complex floats as I don't think that is properly supported even in current MSVC.

The failures in #2

[2017-05-19 17:46] jakirkham commented on #2
It looks like FFTW is going to go the CMake direction as well. Please see PR ( https://github.com/FFTW/fftw3/pull/80 ).

[2017-06-08 10:27] isuruf opened #27 "3.3.6.pl1 is withdrawn"
See http://www.fftw.org/release-notes.html

[2017-06-08 13:39] jschueller commented on #27
#28

[2017-06-08 13:39] #27 closed

[2017-06-26 01:38] 7yChris opened #29 "No module named 'fftw3'/No module named 'fftw'"
Hi!Thanks for the share of Fftw packages on conda.
However, I've successfully installed the packages with "conda install -c conda-forge fftw=3.3.6" on mac os and I can find the package installed in anaconda environment. But I just can't import the module with the name fftw3 or fftw, it always tells me that there is no such a module.
I wonder if you know why?
My project deadline is coming soon and

[2017-06-26 02:16] jakirkham commented on #29
`fftw` is the C library. So there is no Python part. That said, installing `pyfftw` would install the C library and Python bindings to it if that's what you are looking for.

[2017-06-26 02:16] #29 closed

[2017-06-26 03:29] 7yChris commented on #29
Thanks!
Forgive me because I am very new to python and I am still very confused.
After I install it in Anaconda, what else should I do so that I can use it in python?

[2017-06-26 15:45] grlee77 commented on #29
you need to install the pyfftw conda package.  you would then import
pyfftw, not fftw (see their documentation).  If performance is less
critical you can always fall back on the FFT routines in numpy.fft

On Jun 26, 2017 11:29 AM, "7yChris" <notifications@github.com> wrote:

Thanks!
Forgive me because I am very new to python and I am still very confused.
After I install it in Anaconda, what else s

[2017-07-05 08:53] knedlsepp opened #30 "Add double support"
I'm trying to compile a library with this and I get the following linker error:

[code]
It turns out this is due to missing double precision support.
Could this feature be added to the feedstock?

[2017-07-05 08:58] knedlsepp commented on #30
It seems that this should already be supported:
https://github.com/conda-forge/fftw-feedstock/blob/9b380eeb7ba55b43e6c0722682be9ea28b279bfa/recipe/build.sh#L36
However I can't seem to find any of those symbols in the libraries.

[2017-07-05 09:02] knedlsepp commented on #30
Egg on my face. This is not about double-precision, but about Fortran #16 support.

[2017-07-05 09:02] #30 closed

[2017-07-10 07:36] jakirkham commented on #2
Done with PR ( https://github.com/conda-forge/fftw-feedstock/pull/32 ).

[2017-07-10 07:36] #2 closed

[2017-09-23 21:54] jakirkham commented on #2
Upstream has been recently accepted PR ( https://github.com/FFTW/fftw3/pull/103 ), which adds an option to build with CMake. This allows for Windows support. Though they are sorting out some issues with the Windows build. Would be good if any Windows experts here could help them out. Expect that we will be using whatever Windows solution upstream settles on in the near future.

[2017-10-04 14:52] fredRos commented on #20
I have the same problem. I'm currently developing the feedstock for [galario](https://github.com/mtazzari/galario/issues/93) and need to link to `libfftw3_omp.so` and `libfftw3f_omp.so`. Getting openmp support across linux and mac seems to be a big pain.

It would be great to have these `libfftw*_omp.so` libraries built. I can add some keywords that may help. The conda forge `clangdev` and `openmp

[2017-10-04 15:38] grlee77 commented on #20
I would be in favor of just adding OpenMP libs to this existing feedstock since the library names do not conflict.  For example, the system packages for debian/ubuntu include both variants.  It will increase the build time a little, but hopefully it will still be within the CI limits.

I am not certain what the current best practice on conda-forge is for adding OpenMP support on OS X.  In some pas

[2017-10-04 21:43] fredRos commented on #20
As a workaround, I decided to link to `libfftw_threads.so` etc. in all cases; i.e., no exception in the build process when on conda forge as we had done it for pyfftw.
 I"m not sure about the performance implications but I guess for laptops and desktops there won't be a major difference between openmp and pthreads, yet I didn't find a comparison. I couldn't get my cmake code to recognize the openm

[2017-10-04 22:55] grlee77 commented on #20
Here is an example recipe using OpenMP on both linux and OS X:
https://github.com/conda-forge/nfft-feedstock/blob/master/recipe/meta.yaml

For both linux and OS X, `gcc` is listed in the build requirements and `libgcc` in the run requirements.

[2017-10-04 23:30] jakirkham commented on #20
So Anaconda (formerly Continuum) has put together some compilers for Linux and macOS that would be a better fit. Would suggest trying those. Here are the [docs]( https://docs.google.com/document/d/103QY204eD82fJzpT7eXy_rV2bKwe6Hx5uAnkMg_xwkI/edit?usp=sharing ). @msarahan may be able to add more info.

[2017-11-06 20:34] leouieda commented on #16
I'd also be interested in this. It's a requirement for [SHTOOLS](https://github.com/SHTOOLS/SHTOOLS) and we'd love to have a conda package for that.

Is anyone tacking this at the moment? If not, I'd like to take a shot.

[2017-11-09 03:22] xoviat commented on #16
Hey folks, we've been working hard to resolve the windows fortran nightmare. In a few hours, you'll be able to add `flang` to your build dependencies and compile normally, with no issues (in theory). Let me know if you have any questions.

[2017-11-09 20:19] leouieda commented on #16
@xoviat thanks for the update and all the work! Please share some more info when you can.

[2017-11-09 20:23] xoviat commented on #16
The project was literally just added. In ~15 minutes:

`conda install flang`

[2017-11-09 20:23] xoviat commented on #16
(assuming conda-forge channel has been added).

[2017-11-09 20:37] xoviat commented on #16
So there are a few issues:

1. `cmake` HEAD supports flang (just within the last few hours), but obviously not yet released.
2. What does "enabling fortran" actually do? Does it compile additional object files or add fortran files the include directory?

[2017-11-09 20:41] jschueller commented on #16
2. I dont see additional libs, only headers

[2017-11-09 20:44] xoviat commented on #16
@jschueller Can you `ls` the headers, and then we can just `cp` them?

[2017-11-09 21:13] jakirkham commented on #16
Before we start using this `flang` compiler everywhere, I think we still need to resolve a larger discussion about how we can go about doing that without breaking compatibility with `defaults`. Given yours ( @xoviat's  ) and @isuruf's work on `flang`, it would be great to have you involved in this discussion and, if possible, come to the planned compiler meeting. Discussion and details can be foun

[2017-11-10 06:54] xoviat commented on #16
@leouieda I have built shtools with flang. It will be Python 3 only of course on Windows.

https://ci.appveyor.com/project/MarkWieczorek/build-shtools/build/1.0.35

[2017-11-30 12:45] rpep commented on #20
The compiler things you mentioned @jakirkham look useful; maybe that's the way to go. I completely forgot about this issue to be honest, although I agree with other suggestions that it's better to have one feedstock for all the libs given that they don't conflict. I've also never seen a pthread vs OpenMP comparison @fredRos, I'd be interested in seeing one though.

[2018-03-01 17:00] matmel opened #37 "No VC14 build"
There is no VC14 build of this package for windows listed in conda-forge [files](https://anaconda.org/conda-forge/fftw/files). AFAICT, this causes python 3.6 windows conda package of pyFFTW not to be build.

The [recipe/meta.yaml](https://github.com/conda-forge/fftw-feedstock/blob/master/recipe/meta.yaml) specifies that, on Windows, a conda package should be build with VC14 whereas [appveyor confi

[2018-03-01 17:54] grlee77 commented on #37
I haven't looked into the missing FFTW packages here yet, but the main reason there are no windows PyFFTW packages at the moment is because the current PyFFTW release requires single, double and long double precisions to all be present, but we do not build long double FFTW on Windows (I think this was due to VC9 limitations?).

In current master of PyFFTW it is possible to build with only a subset

[2018-03-01 17:55] jakirkham commented on #37
Looks like something went wrong in commit ( https://github.com/conda-forge/fftw-feedstock/commit/ef4b7a32e8db88bbc34e66a0981e06053d290b66 ) and has remained that way since. Bad rerendering maybe.

cc @jschueller

[2018-03-01 18:01] grlee77 commented on #37
There was also an issue of the library names in the CMAKE-based FFTW build not matching the names PyFFTW is expecting on windows.  That issue was also recently addressed in pyFFTW/pyFFTW#190.

[2018-03-01 18:27] jakirkham commented on #37
Think I figured it out. PR ( https://github.com/conda-forge/fftw-feedstock/pull/38 ) should fix the issue.

[2018-03-01 21:56] matmel commented on #37
@grlee77, for the `long double` being present in VC14, it doesn't seem like it. [MSDN](https://msdn.microsoft.com/en-us/library/9cx8xs15.aspx) and Numpy [documentation](https://docs.scipy.org/doc/numpy-dev/user/basics.types.html#extended-precision) seem to agree to say that with MSVC, `long double` is mapped to a `double`.

So FFTW built with MSVC (as done on conda-forge) will only have double pre

[2018-03-02 18:33] #37 closed

[2018-03-02 18:46] jakirkham commented on #37
Thanks for raising @matmel.

VC14 is back in the build matrix and a new VC14 build has been triggered. May take a little bit to process depending on the queue length.

[2018-03-23 08:54] fredRos commented on #20
A side note: in the master branch of pyfftw, you can now build and pick the threads library. The default is openMP and pthreads the fall back. If you have both libraries and prefer pthreads, set the environment variable `PYFFTW_USE_PTHREADS` before building pyfftw

[2018-03-23 08:57] rpep commented on #20
@fredRos Oh, cool! We have some hand wrapped FFTW calls in our C extension for performance reasons, so I need FFTW directly rather than from Python, but I suppose that means we can link against the install of FFTW used in pyfftw without much difficulty.

[2018-05-24 13:01] benbovy opened #39 "Build fftw using cmake?"
This would fix [this issue](https://github.com/FFTW/fftw3/issues/130) when using cmake (with clean scripts) to build packages that depend on fftw.

[2018-06-26 06:04] egpbos commented on #16
It seems like the [current default Fortran compiler on Conda](https://github.com/conda/conda-docs/blob/master/docs/source/user-guide/tasks/build-packages/compiler-tools.rst#compiler-packages) is now gfortran on Linux and macOS, which can be installed by adding to meta.yaml:

[code]

Would it be possible to move forward in this direction for now? The discussion on `flang` could, of course, be conti

[2018-06-28 08:03] egpbos opened #41 "meta.yaml tests"
Just wondering: why are the tests in meta.yaml set to exit immediately on success? https://github.com/conda-forge/fftw-feedstock/blob/master/recipe/meta.yaml#L30 This way, only the first test is run, i.e. only the check for the existence of lib/libfftw3f.a is performed, while a whole array of additional tests are setup below that.

[2018-06-28 08:17] egpbos commented on #16
The above reference from Amuse is the reason I need this now. There is no real rush, it's not a critical dependency, but since this is the last day of our sprint, it would be cool if we could have this merged today so all our tests will pass ;)

[2018-07-05 23:59] jakirkham opened #44 "Travis CI log length limit"
We appear to be going over the [Travis CI log length limit]( https://travis-ci.org/conda-forge/fftw-feedstock/builds/348359641 ). While it says it will terminate our jobs, it seems to let them run anyways, which is fortunate. That said, we can't expect this to hold up forever. Would be good to fix our build to stay within this log length limit if possible or switch to CircleCI, whichever is easies

[2018-11-27 15:35] beckermr commented on #20
Hi friends! I have this working for the Anaconda compilers. There is the question of what to do about the toolchain build. I am wondering if we should special case it and not build the openmp libs for it. Any thoughts?

[2018-11-30 23:36] #20 closed

[2019-03-03 07:53] njzjz commented on #16
Is there any progress in this issue? I need to build a Fortran program with fftw.

[2019-03-06 06:31] egpbos commented on #16
I will make a new PR, the old one is outdated.

[2019-03-06 07:03] egpbos commented on #16
New PR: #49

[2019-03-06 08:15] #16 closed

[2019-03-06 08:24] egpbos commented on #16
Thanks for the quick merge @jschueller! Fortran support should now be available.

[2019-04-11 14:45] paugier opened #51 "MPI support"
It is more a question than a proper issue for this feedstock.

I'd need fftw3_mpi in conda-forge. Similar to these Debian package:

- https://packages.debian.org/stretch/libfftw3-mpi
- https://packages.debian.org/stretch/libfftw3-mpi-dev

These packages depend on libfftw3 and openmpi. They do not contain the libfftw3 libraries.

It would be nice to have the same structure on conda, i.e. that the c

[2019-04-11 14:56] beckermr commented on #51
A few options.

1. We could have a nompi option similar to hdf5.
2. We should check howFFTW works. Maybe all of the libraries can coexist?

If we had a separate feedstock, we would only want to ship the MPI libs or make it incompatible with this one if they have to ship the same libs.

[2019-04-11 16:01] grlee77 commented on #51
I have not used the MPI functionality, but I am pretty sure these get built as separate libraries in addition to the current ones.
I think aside from adding the MPI dependency in `meta.yaml` we just need to add `--enable-mpi` in the build scripts to get these variants.

See:
http://www.fftw.org/fftw3_doc/FFTW-MPI-Installation.html

[2019-04-11 16:06] grlee77 commented on #51
Perhaps @rainwoodman might have a better idea as I think he has recent experience with MPI and FFTW

[2019-04-11 16:12] grlee77 commented on #51
Based on a past PR that was never completed for pyFFTW, it seems that the library names for MPI are indeed different and have the same precision suffixes as the serial case:
e.g. `libfftw3-mpi`, `libfftw3f-mpi`, `libfftw3l-mpi` and there is a separate `fftw3-mpi.h` header corresponding to these.

[2019-04-11 16:17] beckermr commented on #51
Are there changes in the symbols in the other libraries?

[2019-04-11 16:23] grlee77 commented on #51
@beckermr
For hdf5 does the version without `nompi` provide both serial and MPI variants along side each other or is it MPI only?
For FFTW it looks like both variants can coexist together. I think the main benefit of a `nompi` here would just be allowing the dependency on MPI to be removed and give a smaller download for users who aren't interested in that functionality.

As far as I can tell, it

[2019-04-11 16:38] beckermr commented on #51
IDK about hdf5.

I think actually more than one output in this recipe is the right way to do this.

We build everything here in this feedstock. Then we supply two outputs.

1. an fftw-mpi package that has the dependence on the MPI provider and the MPI headers and SO's. 2. an fftw output that holds everything else

[2019-04-11 16:53] grlee77 commented on #51
That sounds reasonable. I didn't realize that was a possibility. I looked it up and found the following issue that links to an example recipe using the approach: in https://github.com/conda-forge/conda-forge.github.io/issues/746

[2019-04-11 17:12] beckermr commented on #51
Yep. This is documented in the anaconda docs as well. I can do this, but not until next week or so.

[2019-04-14 13:50] beckermr commented on #51
OK. Since the mpi libs can simply be installed along side everything else, I have instead decided to configure things like hdf5. There will be a preferred nompi package, but mpi-enabled variants can be installed. Packages build against the nompi variant can link to the mpi variants at runtime as well.

[2019-04-14 18:09] rainwoodman commented on #51
The configuration is a bit strange -- the mpi / no mpi does not feel like a variant. The mpi version may depend on the nompi version though.

I'd suggest splitting into two packages, fftw3 and fftw3-mpi, then treating mpich/openmpi as variants of the mpi package, either of which depends on fftw3.

This way the MPI package shall only ship with files for the MPI support (libfftw3-mpi.* and the mpi h

[2019-04-14 19:09] beckermr commented on #51
The mpi versions ship all of the normal files plus the mpi headers and libs, so there is no dependence between them.

Given the docs for MPI in conda-forge and what has been done for hdf5, we probably have to keep it this way. See the docs http://conda-forge.org/docs/maintainer/knowledge_base.html#message-passing-interface-mpi.

I know this syntax and thought this originally at first too. However,

[2019-04-14 20:56] rainwoodman commented on #51
The conda-forge policy may be problematic.

Consider the scenario if a user needs a package A that depends on nompi and a package B that depends on mpich at the same time -- the policy seems to say the A and B cannot be co-installed in the same environment, even though they actually should be able to co-exist.

There are plenty of prior experience to follow. On Fedora, both packages are split into

[2019-04-14 21:03] beckermr commented on #51
I don't make the rules. Raise this issue on the main conda-forge repos if you feel strongly.

The way this is addressed now is in the docs starting around

and the build number bump and the lack of a run export for the nompi version.

For any package built against nompi fftw, the current build allows an mpi version to be used at run time. Thus for this build it is fine.

[2019-04-15 00:54] rainwoodman commented on #51
Thanks for the explanation. Now I see how it works, and the uneasiness is no longer as strong.  I am OK to  assume there are no packages where the nompi ABI and the nompi portion of the mpi ABI are incompatible. The magic number 100 still stinks, but not bad enough for changing the rule.

[2019-04-16 13:41] #51 closed

[2019-04-16 13:44] beckermr commented on #44
Closing since we are on azure now.

[2019-04-16 13:44] #44 closed

[2019-04-16 13:44] beckermr commented on #41
I just fixed this. Appears to have been a bug.

[2019-04-16 13:44] #41 closed

[2019-08-19 20:05] beckermr opened #57 "huge number of CI builds"
The build matrix seems to have multiple versions of python in it which is weird since this is a binary package.

[2019-08-19 20:20] beckermr commented on #57
This was caused by python being in the test env. I've gone ahead and pinned python to 3.7 for testing since it is just looking to make sure the shared libs exist.

[2019-08-19 22:22] #57 closed

[2019-11-06 10:58] beckermr opened #59 "OSX compatibility versions"
So fftw 3.3.4 has this compatibility version

[code]

However version 3.3.8 looks like this

[code]

but the libraries themselves have file names like this

[code]

So my questions are

1. Why aren't the dylibs named with their compat versions (e.g., libfftw3.8.dylib or whatever)?
2. As a practical issue, do we need to break up the build so that the dylibs can be properly versioned?

I suppose als

[2019-11-06 17:57] #59 closed

[2020-04-24 06:07] steven-murray commented on #20
I just installed this package from conda-forge, and it doesn't have the `libfftwf_omp.so` -- did this get taken out since the above PR was merged? Or am I misunderstanding something?

[2020-04-24 13:11] beckermr commented on #20
You are looking for the wrong file. It should be `libfftw3f_omp.so`

[2020-04-24 21:19] steven-murray commented on #20
Sorry, I meant that. That file is not in my `anaconda/env/lib/` (no FFTW files with `_omp.so` are there).

[2020-04-24 21:20] beckermr commented on #20
Can you send the output of conda-list? The anaconda defaults channel may not have this part of the build.

[2020-04-27 16:51] steven-murray commented on #20
[conda-list.txt](https://github.com/conda-forge/fftw-feedstock/files/4540970/conda-list.txt)

Hmmm, maybe it's because I used `conda-forge` rather than default `anaconda` channel?

[2020-04-27 16:56] beckermr commented on #20
I don't see fftw in this environment at all. ;p

[2020-04-27 17:11] steven-murray commented on #20
I'm so confused... just did `conda install -c conda-forge fftw` on a fresh env and all the `_omp.so` files are there.... not sure why they weren't there the other night when doing (ostensibly) the same thing. Perhaps it was the lateness of the night...

I will get back to you if this problem comes up again and I can determine why. Sorry for the bother! And thanks for packaging this!

[2020-05-17 17:37] jaimergp opened #61 "Fortran bindings on Windows"
After reading https://github.com/conda-forge/fftw-feedstock/issues/16. Current Windows packages [do not provide the Fortran bindings](https://github.com/conda-forge/fftw-feedstock/blob/master/recipe/meta.yaml#L47).

I'd be happy to try, but I'd need some guidance on what the recommended strategy is:

* Uncommenting that line in `meta.yaml`? Seems too easy :)
* Migrating to `msys2` compilers? [Draf

[2020-06-25 10:53] duncanmmacleod opened #62 "fftw.pc in fftw-3.3.8 declares version as 3.3.7"
Issue:

The `fftw.pc` file shipped with fftw-3.3.8-nompi_hbc43ac9_1110 declares

[code]

rather than the actual packaged version...

[2020-06-25 10:56] beckermr commented on #62
Is this issue upstream?

[2020-06-25 10:57] duncanmmacleod commented on #62
Checking now...

[2020-06-25 10:58] duncanmmacleod commented on #62
The tarball for 3.3.8 includes this:

[code]

[2020-06-25 11:00] duncanmmacleod commented on #62
Ok, it looks like the cmake and autotools builds are not synchronised upstream...

[2020-06-25 11:01] beckermr commented on #62
OK. So this bug report should be filed with them.

If you'd like to submit a patch, we can patch it here as well.

[2020-06-25 11:09] duncanmmacleod commented on #62
I think this has already been fixed upstream, but 3.3.9 hasn't been released yet. I'll patch this and backport something else that should be helpful...

[2020-06-25 12:43] #62 closed

[2020-11-05 07:37] mbargull opened #65 "@conda-forge-admin, please rerender"
@conda-forge-admin, please rerender

[2020-11-05 07:38] mbargull commented on #65
ref: https://github.com/conda-forge/fftw-feedstock/commit/745aac2da80faa4b589a906b319fe9bf609d7abf#commitcomment-43893718
`linux-ppc64le` fails on `master`. Let's see if a rerender PR behaves differently.

[2020-11-05 11:11] beckermr commented on #65
@conda-forge-admin, please rerender

[2020-11-05 11:11] conda-forge-linter commented on #65
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/fftw-feedstock#66.

[2020-11-12 08:39] mbargull commented on #65
@conda-forge-admin, please rerender

And again.. builds from PR went through but only on `master` we get a timeout after 10 minutes.
I'm trying emulation-based  builds on Azure in a new PR.

[2020-11-12 08:39] conda-forge-linter commented on #65
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/fftw-feedstock#67.

[2020-11-12 09:27] mbargull commented on #65
@conda-forge-admin, please rerender

I didn't notice before that we have the `idle_timeout_minutes' config param. Let me try that one first before.

[2020-11-12 09:30] mbargull commented on #65
Nvm, that one was already set in `conda-forge.yml` but Travis didn't care (on `master` at least). So, Azure it is then.

[2020-11-12 20:07] mbargull commented on #65
Addressed in gh-67 by switching to Azure for ppc64le.

[2020-11-12 20:07] #65 closed

[2021-03-05 05:53] ax3l opened #74 "m.lib on Windows"
Linking downstream against fftw on Windows, using `clang-cl`, raises an error:
[code]
ref: https://github.com/conda-forge/warpx-feedstock/pull/11

I think this is caused by the unconditional linking of `m.lib`, which usually should not be required for MSVC:
https://github.com/FFTW/fftw3/blob/fftw-3.3.9/CMakeLists.txt#L109-L112

The work-around for this could be to pass: `-DLIBM_LIBRARY=LIBM-NOTFOU

[2021-03-05 09:08] #74 closed

[2021-03-08 08:24] ax3l commented on #74
Turns out there is still a bit more to it - we should patch out the `libm` part in the `.pc.in` file for the Windows build:
https://github.com/FFTW/fftw3/issues/236

[2021-04-11 22:02] hmaarrfk opened #76 "Split off static builds"
It seems that in
https://github.com/conda-forge/fftw-feedstock/pull/50
A discussion started on whether or not we should include the static files.

I believe conda-forge has since pushed away from static libraries.

Would it be acceptable to remove the static libraries from this package and deal with the issues when they arise downstream?
Can we split the package instead into two?
[code]

Thoughts?

[2021-12-01 18:00] ax3l opened #80 "libgfortran issue downstream"
Since the `mamba` upgrade in October, I see the following concretization issue in my downstream project:
[code]

My project is a plain C/C++ project:
https://github.com/conda-forge/warpx-feedstock/pull/33
and and declares the FFTW dependency here:
https://github.com/conda-forge/warpx-feedstock/blob/fe5437ec5282ebdbf4e43af96b8a894e26debb31/recipe/meta.yaml#L43

Should we try to rerender the feedsto

[2021-12-01 18:02] jakirkham commented on #80
Sounds reasonable. Do you want to try?

[2021-12-01 19:29] ax3l commented on #80
Thanks! Yes, PR in #81 :)

[2021-12-04 20:26] #80 closed

[2022-05-11 13:20] kburns opened #83 "Add "external" dummy builds"
### Comment:

This feedstock has been tremendously valuable for building stacks for [Dedalus](https://github.com/DedalusProject/dedalus), but in some cases when building on HPC systems, it may be preferable to use an existing optimized FFTW build on the cluster.  However, this currently makes it hard to use other conda builds that rely on FFTW, since conda tries to install it's own FFTW binaries.

[2022-08-12 19:15] hmaarrfk opened #86 "@conda-forge-admin please rerender"
### Additional comment:

Just testing

[2022-08-12 19:16] conda-forge-linter commented on #86
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/fftw-feedstock#87.

[2022-08-12 21:21] hmaarrfk commented on #83
I'm not a maintainer of fftw, but I would suggest that in the interim, you create your own channel and within that, an empty package called fftw. That can trick conda into thinking you have fftw installed, even it if it is empty.

[2022-08-12 22:28] #86 closed

[2022-08-31 08:15] egpbos commented on #83
I don't have the bandwidth to work on this either. Feel free to open a PR yourself if this would fit within this feedstock.

I can imagine this would be useful for some projects. However, I do wonder whether this isn't something that you could solve at the configuration side. Let your configuration (cmake, autotools) figure out which library to link to (could be done manually by the user in except

[2022-08-31 08:17] egpbos commented on #76
Sounds good to me.

[2022-08-31 08:18] egpbos commented on #76
Maybe @beckermr has some thoughts, seeing as he was involved in that earlier discussion as well.

[2022-08-31 19:42] #76 closed

[2022-09-02 07:38] egpbos opened #90 "Reenable PPC tests"
### Comment:

In https://github.com/conda-forge/fftw-feedstock/pull/88 we disabled the PPC tests on Azure. If anybody knows how to fix them, a PR would be highly appreciated.

Hoping @jayfurmanek has some ideas :)

[2022-09-02 13:12] kburns commented on #83
I think the problem is just for installing downstream conda packages that rely on FFTW. Those feedstocks need an FFTW requirement on the conda side to properly install when there is no local FFTW you want to use. Adding external builds here, as has been done for MPI on conda-forge, would just additionally allow for the option to use the local builds instead of pulling them from this feedstock when

[2022-09-02 20:42] hmaarrfk commented on #83
It may be broadly useful. But prototyping at the conda-forge scale initially is not what you want. You likely want to be able to iterate very quickly, on your own, then ask for feedback when you have something concrete that works.

You'll likely want to optimize more than just this one package for your users anyway. So it isn't a bad idea to have your own channel.

[2022-09-02 20:42] hmaarrfk commented on #83
Keep us posted on your results!

[2022-09-04 15:47] kburns commented on #83
Actually MPI and FFTW are the only performance-critical C dependencies we tend to pull from the clusters. Sometimes we pull HDF5 too, but that doesn't tend to be as performance critical.

If any of the FFTW feedstock maintainers have other thoughts or a little time to work on this, though, it would be great to discuss more.

[2022-09-05 10:43] egpbos commented on #83
I'm happy to provide further comments on a working PR (or separate package, whatever you prefer afaic)! Perhaps it would be good if one of the people involved in the MPI external build was asked for input or even to review.